<div style="display: flex; flex-direction: column; justify-content: center; align-items:center">

    <% if current_user.present?%>
      <% current_user.contact_messages.each do |message| %>
      <div>
        <%= message.message%>
      </div>
        
      <% end %>
    <% end %>

</div>
