// Specific CSS for your home-page
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.minakoya {
  font-family:
    "Yu Gothic", "Meiryo", "MS PGothic", "Hiragino Kaku Gothic Pro", sans-serif;
  margin-bottom: 30px;
}
.line-above {
  border-top: 2px solid white;
  width: 100%;
  padding-top: 10px;
  display: inline-block;
  margin: 0;
}

.search-btn {
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 180px;
  height: 60px;
  color: white;
  background-color: red;
  margin-right: 33px;
}

.search-input-in {
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 180px;
  height: 60px;
  color: white;
  background-color: beige;
  border: 2px solid black;
  margin-right: 850px;
}

.search-input-out {
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 180px;
  height: 60px;
  color: white;
  background-color: beige;
  border: 1px solid black;
  margin-right: 550px;
}

.search-input-in,
.search-input-out {
  opacity: 0;
  pointer-events: none;
}

.calendar-icon-in,
.calendar-icon-out {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Check-in circle + icon */
.calendar-icon-in {
  position: absolute;
  top: 50%;
  right: 980px;
  transform: translateY(-50%);
  width: 60px; /* big circle */
  height: 60px;
  background-color: beige;
  border: 1px solid black;
  border-radius: 50%; /* makes it round */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.calendar-icon-in img {
  width: 22px; /* icon smaller than circle */
  height: 22px;
  object-fit: contain;
}

/* Check-out circle + icon */
.calendar-icon-out {
  position: absolute;
  top: 50%;
  right: 720px; /* keep your existing margin */
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-color: beige;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.calendar-icon-out img {
  width: 22px;
  height: 28px;
  object-fit: contain;
}

.calendar-icon-guests {
  position: absolute;
  top: 50%;
  right: 350px;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-color: beige;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.calendar-icon-guests img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.base-calendar {
  position: absolute;
  top: -17px;
  margin-top: 4px;
  width: 98%;
  background-color: white;
  height: 86px;
  border: 1px solid black;
  border-radius: 50px;
}

.search-input-guests {
  
 right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 180px;
  height: 60px;
  color: white;
  background-color: beige;
  border: 1px solid black;
  margin-right: 550px;
}
