.contactus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  margin-top: 0;
}

.contact-form {
  width: 70%;
  margin-top: 40px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  border-radius: 50px;
}

